* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
}
nav {
    background-color: rgb(72, 36, 212);
}
/* Thanh tìm kiếm mặt hàng */
.search-text {
    width: 32%;
    height: 40px;
    /* background-color: #8E8E8E; */
    border: 1px solid red;
    margin-left: 10px;
    display: flex;
    position: relative;
    
}
.search-text input {
    height: 38px;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding-left: 10px;
}
.search-btn { 
    top :0 ;
    right: 0;
    background-color: blue;
    border: none;
    float: right;
    width: 15%;
    height: 34px;
    margin-right: 2px;
    margin-top: 2px;
    border-radius: 3px;
    position: absolute;
}
/* .search-text {
    display: flex;
    align-items: center;
    justify-content: space-between; 
} */
.search-text input:focus, .search-text input:active, .search-text input {
    outline: 0;
    outline-style: none;
    outline-width: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.child-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.child-container a {
    font-size: 14px;
    margin-right: 30px;
    color: white;
}
.child-container a i {
    margin-right: 6px;
}

/*menu bar*/
.menu-bar {
    background-color: black;
    max-width: 100%;
    margin: auto;
}

.menu-bar ul {
    display: flex;
    justify-content: space-between;
    color: #111;
}
.menu-bar ul li a {
    font-size: 16px;
    color: rgb(235, 241, 242);
}
.menu-bar ul li a i {
    margin-right: 6px;
}
.menu-bar-content {
    max-width: 100%;
    text-align: center;
}
.menu-bar ul li { 
    padding: 15px;
    transition: all 0.1s ease;
    /* width: 100%; */
    text-align: center;
    width: 100%;
}
.menu-bar ul li:hover {
    background-color: red;
}
.menu-bar li:nth-child(6) {
    position: relative;
}
.menu-bar li:nth-child(6)::before {
    position: absolute;
    content: "Giảm 5%";
    font-size: 10px;
    display: block;
    height: 15px;
    width: 45px;
    background-color: #ee7738;
    border-radius: 5px;
    right: 0;
    top: 0;
    padding-left: 3px;
    font-weight: bold;
}   
